
@supports (font-variation-settings: normal) {
    code { font-family: 'Fira Code VF', monospace; }
  }
code {
    font-family: 'Fira Code', monospace;

    font-variant-ligatures: additional-ligatures;
}


.content {
    display: flex;
    overflow: scroll hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* justify-content: center;
    align-items: baseline; */
    scroll-snap-type: x mandatory;
}

pre {
    margin-top: 5vh;
    height: 95vh;
    min-width: 50vw;
    text-align: center;
    align-items: center;
    scroll-snap-align: start;
    margin-bottom: 0;
    
    font-size: 1.8vh;
    line-height: min(1.6vh, 1.1vw);
}

code {

    width: 100%;
    text-align: center;
    font-size: 1.5vh;
    font-size: min(1.5vh, 1vw);
    padding: 0;
    text-overflow: clip;
    text-wrap: nowrap;
    scroll-snap-points-y: repeat(50vw);
}

@media all and (orientation:portrait) {
    pre {
    min-width: 100vw;
    }
}

.content pre:nth-child(1) {
    display: none;
}



@media print { 

    
    .content pre:nth-child(1) {
        display: block;
    }
    
        pre {
            break-inside: avoid;
          } 
    

    .content {
        display: table
    }

}